 <main>

 
        <div class="overflow-hidden">
            <!-- pricing section -->
            <section class="p-relative section-pt section-pb">
                <div class="circle-shape bg-green"></div>
                <div class="container">
                    <div class="section-head">
                        <div class="section-title-md text-center text-dark-blue mb-10px">
                            Book your Caddie Now
                        </div>
                        <p class="text-center text-dark-blue fw-500">Select your preferred booking option below</p>
                    </div>
                    <div class="pricing-wrapper">
                        <% @packages.each do |package| %>
    <div class="plan-card">
        <div>
            <h3 class="plan-title text-center"><%= package.title %></h3>
            <h4 class="plan-price text-center">$<%= package.price %></h4>
        </div>
        <div>
            <ul class="plan-benefits">
                <% package.details.split("\n").each do |detail| %>
                    <li><%= detail %></li>
                <% end %>
            </ul>
        </div>
        <div class="text-center">
           <%= link_to 'Book Now', "/booking?packege=#{package.id}", class: "btn btn-dark-blue plan-btn" %>
        </div>
    </div>
<% end %>
                           
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Why us section -->
        <section class="section-pt section-pb bg-light-blue">
            <div class="container">
                <div class="section-title-md text-dark-blue">
                    Why Us?
                </div>
                <div class="why-us-wrapper">
                    <div class="why-us-list-wrapper">
                        <div class="why-us-block">
                            <div class="chk-icon">
                                
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Easy booking for caddie services</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Selection of experienced caddies</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Expert advice and course management</h4>
                        </div>
                    </div>

                    <div class="why-us-list-wrapper">
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Knowledgeable about local course</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Convenient scheduling</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Enhance golfing experience</h4>
                        </div>
                    </div>

                    <div class="why-us-list-wrapper">
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Confidence and relaxation on course</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Time and energy saved</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Social and enjoyable round</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonial section -->
        <section class="section-pt section-pb">
            <div class="container section-pt section-pb">
                <div class="section-head text-center">
                    <span class="section-hint fw-700 text-gray-600">TESTIMONIAL</span>
                    <div class="section-title-md text-center text-dark-blue mb-10px">
                        Real People Definetely Wrote This
                    </div>
                </div>

                <div class="testimonial-wrapper">
                    <div class="testimonial-card">
                        <div class="testi-image-wrapper">
                            
                            <%= image_tag 'Avatar.png', alt: 'user image' %>
                        </div>
                        <div class="testi-content">
                            <p>Highly recommend this website for caddie services. My caddie was excellent and
                                booking
                                was easy.</p>
                            <h5>CHESTER HAMPTON</h5>
                            <div class="text-right">
                                
                                 <%= image_tag 'quot.png', alt: 'user image' %>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-card">
                        <div class="testi-image-wrapper">
                            
                            <%= image_tag 'Avatar-2.png', alt: 'user image' %>
                        </div>
                        <div class="testi-content">
                            <p>Great caddie service. My caddie was knowledgeable and friendly. Booking was easy</p>
                            <h5>CORA KIM</h5>
                            <div class="text-right">
                                
                                <%= image_tag 'quot.png', alt: 'user image' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Help CTA -->
        <section class="help-cta">
            <div class="container">
                <div class="help-cta-wrapper">
                    <div class="help-cta-content">
                        <h3>Have Any Question?</h3>
                        <p>Get in touch with our team that can help you answer your question</p>
                    </div>
                    <div class="help-cta-btn-wrapper">
                        <a href="" class="btn btn-blue">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQ section -->
        <section class="section-pt section-pb">
            <div class="container">
                <div class="faq-wrapper">
                    <div class="section-title-md text-dark-blue">
                        Frequently Asked Questions
                    </div>

                    <div class="faq-block">
                        <div class="faq-icon">
                            
                            <%= image_tag 'action-help-circle.png', alt: 'user image' %>
                        </div>
                        <div class="faq-content">
                            <h3>How do I book a caddie through your website?</h3>
                            <p>To book a caddie, simply select the date and time that you would like to have a
                                caddie,
                                choose a caddie from the list of available options, and complete the booking process
                                by
                                providing your personal and payment information.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-icon">
                            <%= image_tag 'action-help-circle.png', alt: 'user image' %>
                        </div>
                        <div class="faq-content">
                            <h3>Are your caddies experienced and reliable?</h3>
                            <p>Yes, all of our caddies have been carefully selected based on their experience and
                                reliability. We only work with caddies who have a proven track record of providing
                                excellent service to golfers.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-icon">
                            <%= image_tag 'action-help-circle.png', alt: 'user image' %>
                        </div>
                        <div class="faq-content">
                            <h3>Can I request a specific caddie?</h3>
                            <p>Yes, you can request a specific caddie if they are available on the date and time
                                that
                                you are looking to book. Alternatively, you can browse through our list of caddies
                                and
                                select one that meets your needs and preferences.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-icon">
                            <%= image_tag 'action-help-circle.png', alt: 'user image' %>
                        </div>
                        <div class="faq-content">
                            <h3>What is included in the caddie services?</h3>
                            <p>Our caddie services include expert advice and course management, as well as carrying
                                the
                                golfer's clubs and handling logistics such as finding the ball and keeping score.
                                The
                                caddie will also provide conversation and companionship during the round, if
                                desired.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>