<main>
        <!-- Caddie hero section -->
        
        <section class="caddie-hero-section" style="background-image: url(<%= asset_path 'caddie-banner.png' %>);">
            <div class="caddie-hero-wrapper">
                <h1 class="caddie-hero-title">Join As a Caddie</h1>
                <p class="caddie-hero-desc">Becoming a successful caddie has never been easier
                    - join now and take the first step towards a rewarding
                    career on the green!</p>

                
                <%= link_to 'Join Now', "/caddieapplication", class: "btn btn-white" %>
            </div>
        </section>

        <!-- Join our team -->
        <section class="section-pt section-pb bg-green">
            <div class="container">
                <div class="section-title-md text-dark-blue text-center">
                    Step by Step For Caddies Looking to join Our Team
                </div>

                <div class="join-team-wrapper">
                    <div class="join-t-card">
                        
                        <%= image_tag 'get-started.png', alt: 'get-started' %>
                        <h4>Click 'Join Now' to get started.</h4>
                    </div>
                    <div class="join-t-card">
                        
                         <%= image_tag 'circle-check.png', alt: 'Complete' %>
                        <h4>Complete the application form</h4>
                    </div>
                    <div class="join-t-card">
                        
                        <%= image_tag 'audio_microphone.png', alt: 'Complete' %>
                        <h4>Complete in person/Virtual Interview</h4>
                    </div>
                    <div class="join-t-card">
                        
                        <%= image_tag 'notification.png', alt: 'Complete' %>
                        <h4>Receive request from golfer</h4>
                    </div>
                    <div class="join-t-card">
                        
                        <%= image_tag 'golfer.png', alt: 'Complete' %>
                        <h4>Golfing with a Golfer</h4>
                    </div>
                    <div class="join-t-card">
                        
                        <%= image_tag 'doller-circle.png', alt: 'Complete' %>
                        <h4>Earn Money with Golfing</h4>
                    </div>
                </div>

                <div class="text-center">
                    
                    <%= link_to 'Join Now', "/caddieapplication", class: "btn btn-dark join-team-btn" %>
                </div>
            </div>
        </section>

        <!-- Why us section -->
        <section class="section-pt section-pb bg-light-blue">
            <div class="container">
                <div class="section-title-md text-center text-dark-blue">
                    Why Join Caddie Central?
                </div>
                <div class="why-us-wrapper">
                    <div class="why-us-list-wrapper">
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                                
                            </div>
                            <h4>Convenient access to golfers</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>More opportunities to work and earn income.</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Opportunities for professional development.</h4>
                        </div>
                    </div>

                    <div class="why-us-list-wrapper">
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Networking with other caddies and golfers</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Access to resources, support, and guidance</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Enhance golfing experience</h4>
                        </div>
                    </div>

                    <div class="why-us-list-wrapper">
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Variety of golfers and courses</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Easy-to-use website.</h4>
                        </div>
                        <div class="why-us-block">
                            <div class="chk-icon">
                                <%= image_tag 'Check-light-Icon.png', alt: 'chk icon' %>
                            </div>
                            <h4>Flexible work and job options</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQ section -->
        <section class="section-pt section-pb">
            <div class="container">
                <div class="faq-wrapper">
                    <div class="section-title-md text-dark-blue">
                        Frequently Asked Questions
                    </div>

                    <div class="faq-block">
                        <div class="faq-icon">
                            
                            <%= image_tag 'action-help-circle.png', alt: '' %>
                        </div>
                        <div class="faq-content">
                            <h3>How do I ensure my safety while working as a caddie on the website?</h3>
                            <p>The website has measures in place to protect your safety, including a secure messaging
                                system and a ratings and reviews system that allows you to see feedback from other
                                golfers. It's always a good idea to take basic safety precautions when working as a
                                caddie, such as staying in well-lit areas and being aware of your surroundings. You
                                should also have a plan in place for emergencies</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-icon">
                            
                            <%= image_tag 'action-help-circle.png', alt: '' %>
                        </div>
                        <div class="faq-content">
                            <h3>Is there a fee to join the website?</h3>
                            <p>No, joining the website is free.</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-icon">
                            
                            <%= image_tag 'action-help-circle.png', alt: '' %>
                        </div>
                        <div class="faq-content">
                            <h3>How do I join the website and start connecting with golfers</h3>
                            <p>To join the website, you will need to fill out an application and provide some basic
                                information about yourself, including your experience and qualifications as a caddie. If
                                your application is approved, you will be receiving golfer request .</p>
                        </div>
                    </div>
                    <div class="faq-block">
                        <div class="faq-icon">
                           
                             <%= image_tag 'action-help-circle.png', alt: '' %>
                        </div>
                        <div class="faq-content">
                            <h3>What is included in the caddie services?</h3>
                            <p>Our caddie services include expert advice and course management, as well as carrying the
                                golfer's clubs and handling logistics such as finding the ball and keeping score. The
                                caddie will also provide conversation and companionship during the round, if desired.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Help CTA -->
        
        <section class="help-cta" style="background-image: url(<%= asset_path 'help-cta-bg.png' %>);">
            <div class="container">
                <div class="help-cta-wrapper mb-40px">
                    <div class="help-cta-content">
                        <h3 class="mb-0">Have Any Question?</h3>
                    </div>
                    <div class="help-cta-btn-wrapper">
                        <a href="" class="btn btn-blue">
                            Contact Us
                        </a>
                    </div>
                </div>
                <div class="help-cta-wrapper">
                    <div class="help-cta-content">
                        <h3 class="mb-0">Ready To Join</h3>
                    </div>
                    <div class="help-cta-btn-wrapper">
                        
                        <%= link_to 'Join Now', "/caddieapplication", class: "btn btn-blue" %>
                           
                    </div>
                </div>
            </div>
        </section>
    </main>